.exp {
    width: 22rem;
    background-color: var(--pure-white);
    padding: 1.5rem;
    border-radius: 6px;
    border-left: 4px solid var(--bright-blue);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }